body {
  padding: 0;
  margin: 0;
  background-color: #332c30;
}
.nav-bar-main {
  padding: 15px 50px;
  background: rgb(65, 58, 62);
  background: linear-gradient(
    121deg,
    rgba(65, 58, 62, 1) 29%,
    rgba(103, 108, 110, 1) 52%,
    rgba(153, 137, 137, 1) 98%
  );
}
#srm-log {
  margin-right: auto;
}
#nav-bar {
  display: flex;
  justify-content: flex-end;
}
.nav-bar-text {
  padding: 15px;
  text-decoration: none;
  font-size: large;
  color: #000;
}
.nav-bar-text:hover {
  /* cursor: pointer; */
  color: #fff;
}
#contact-main {
  width: 80%;
  margin: 2rem auto;
}
.contact-form {
  text-align: center;
  font-size: clamp(25px, 25px + (1vw - 3.75px) * 0.9708737864, 40px);
  color: #fff;
}
#contact-info-form {
  padding: 2rem;
  width: 100%;
  margin: 0 65px;
}
.input-1 , .input-2{
  font-size: clamp(16px, 16px + (1vw - 3.75px) * 0.1294498382, 18px);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.form-input {
  width: 45%;
}
input {
  height: 30px;
  background: #fff;
  border: 1px solid #fff;
  padding: 10px;
  width: 80%;
}
p{
  color: red;
  /* margin: 0; */
}
#submit-but{
  display: flex;
  justify-content: center;
}
div button{
  width: 10%;
  height: 35px;
  cursor: pointer;
  
}
.form-input input:focus{
  outline: 0;
}
.form-input.success input{
  border-color: #0cc477;
  border-width: 3px;
  
}
.form-input.error input{
  border-color: rgb(206,67,67);
  border-width: 3px;
}


